:host {
  display: block;
  text-align: left;
  margin: 0;
  padding: 8px;

  div {
    line-height: 24px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid #95a5a6;
    border-radius: 4px;
    margin: 2px;
    display: inline-block;
    cursor: pointer;
  }

  .add-new {
    transform: translateY(-3px);
  }
}
