div {
  line-height: 48px;
  font-size: 48px;
  width: 48px;
  height: 48px;
  border: 2px solid #95a5a6;
  border-radius: 50%;
  margin: 4px;
  display: inline-block;
  cursor: pointer;
  filter: grayscale(75%);

  &.highlight {
    filter: none;
  }
}
