:host {
  display: block;
}

div {
  line-height: 48px;
  font-size: 48px;
  width: 48px;
  height: 48px;
  border: 2px solid #95a5a6;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;

  &.removed {
    filter: grayscale(50%);
    position: relative;

    &::after {
      position: absolute;
      top: -1px;
      bottom: 0;
      left: 0;
      right: -1px;
      content: "\d7"; /* multiplication sign */
      color: #ecf0f1;
      text-align: center;
      filter: none;
    }
  }
}
