<header>
  <h2>Who starts?</h2>
</header>
<main>
  <div class="indicator" *ngFor="let player of players"></div>
  <span class="timer" *ngIf="timer | async as timer; else instructions">{{ timer }}</span>
  <ng-template #instructions>
    <span>Place at least<br/>two fingers<br/>here...</span>
    <div class="center">
      <mat-icon>touch_app</mat-icon>
    </div>
  </ng-template>
</main>
<footer id=settings>
  <button mat-icon-button aria-label="Toggle settings button">
    <mat-icon>expand_less</mat-icon>
  </button>
  <div [style.height]="settingHeight">

  </div>
</footer>
