<header>
  <h2>Who starts?</h2>
  <span class="expand"></span>
  <button mat-icon-button type="button" name="settings" (click)="openSettings()">
    <mat-icon>more_vert</mat-icon>
  </button>
</header>
<main
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
  (touchmove)="onTouchMove($event)"
  (touchcancel)="onTouchEnd($event)"
  (click)="onClick($event)"
>
  <div class="instructions" *ngIf="!finished">
    <span class="timer mat-display-4" *ngIf="timer | async as timer; else instructions">{{
      timer
    }}</span>
    <ng-template #instructions>
      <span class="mat-headline"
        >Tap to add or <br />
        remove players</span
      >
    </ng-template>
    <div class="center" style="text-align: left">
      <mat-icon>touch_app</mat-icon>
    </div>
  </div>
  <app-player-indicator
    *ngFor="let player of players; first as isFirst"
    [player]="player"
    [class.first]="!settings.chooseColor && isFirst && finished"
  >
    <span>{{ player.assignedOrder }}</span>
  </app-player-indicator>
</main>
<footer>
  <button
    *ngIf="finished"
    mat-fab
    class="mat-elevation-z6"
    type="button"
    color="accent"
    class="reset"
    name="reset"
    aria-label="Resets the players and their assigned values"
    (click)="reset($event)"
  >
    <mat-icon>restart_alt</mat-icon>
  </button>
</footer>
