:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  margin: 0px 12px;
  display: flex;
  align-items: center;

  .expand {
    flex: 1 1 auto;
  }
}

main {
  position: relative;
  margin: 12px;
  border-radius: 12px;
  border: 2px dashed #95a5a6;
  flex: 1 1 auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: none;
  align-items: center;

  .center {
    line-height: 256px;
    height: 256px;
    width: 256px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
    filter: opacity(0.25);

    mat-icon {
      font-size: 256px;
    }
  }

  .instructions {
    cursor: default;
    user-select: none;
  }

  .reset {
    padding: 8px 32px;
    border-radius: 8px;
  }

  .indicator {
    position: fixed;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #95a5a6;
    line-height: 50px;
  }

  .first {
    background-color: rgba(149, 165, 166, 0.5);
  }
}

footer {
  position: fixed;
  bottom: 60px;
  right: 60px;
}
