section {
  text-align: left;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 20px;

  &>* {
    margin-bottom: 8px;
  }
}

.mat-caption {
  color: #ecf0f1;
}
